body{
  background: ivory;
}


a { text-decoration: none;
}


.box1 {
  display: inline-block; 
  color: rgb(10, 5, 5);  
  font-size: 18px; 
  padding:  3px; 
  text-align: center; 
  vertical-align:  middle;  
  width:120px;
  height:25px;
  background:white;
  border: solid 2px rgb(100, 96, 96); 
  border-radius:30px; 
}

.box2 {
  text-align: center; 
}


#content{
 margin-top: 30px;
 margin-right: 100px;
}
.msg{
  margin: 30px 30px;
padding: 10px;
border-bottom: medium solid gray;

}

.padding {
list-style: none;
display: flex;
}

.targetTable { 
  height: 1500px; 
  writing-mode: tb-rl;
  flex-direction: row;
  align-items: center;
}

td { 
    height: 1500px; 
    width: 80px;
    text-align: center;
    vertical-align: middle;
     }

     .font-color {
      color: pink;
    } 
 
    
    #text-button {
      display: block;
      cursor: pointer;
      width: 160px;
      text-align: center;
      border: 1px solid #232323;
      top:0
    }

 